@model Kitakun.VkModules.Core.Models.Top100BestLikersModel

@{
    var top3Array = Model.Top100.Take(3).ToArray();
    var curUserId = Context.Request.Query.TryGetValue("vk_user_id", out var rawViewerId) ? long.Parse(rawViewerId.First()) : -1;
}

<div class="page-block">
    <table class="fullwidth likers-table">
        <thead>
            <tr>
                <th class="center small-header">#</th>
                <th class="center small-header">🙂</th>
                <th class="user-header">Пользователь</th>
                <th class="center small-header">Баллы</th>
            </tr>
        </thead>
        <tbody class="likers">
            @if (Model.Top100.Length > 0)
            {
                <tr class="@(curUserId == Model.Top100[0] ? "active" : string.Empty)">
                    <td class="uicons center nowrap">🔥🔥🔥</td>
                    <td class="center"><img src="@Model.UsersInfo[Model.Top100[0]].imgUrl" class="uicon" /></td>
                    <td>@Model.UsersInfo[Model.Top100[0]].uName</td>
                    <td class="center nowrap">@Model.Likes[Model.Top100[0]]</td>
                </tr>
            }
            @if (Model.Top100.Length > 1)
            {
                <tr class="@(curUserId == Model.Top100[1] ? "active" : string.Empty)">
                    <td class="uicons center nowrap">🌟</td>
                    <td class="center"><img src="@Model.UsersInfo[Model.Top100[1]].imgUrl" class="uicon" /></td>
                    <td>@Model.UsersInfo[Model.Top100[1]].uName</td>
                    <td class="center nowrap">@Model.Likes[Model.Top100[1]]</td>
                </tr>
            }
            @if (Model.Top100.Length > 2)
            {
                <tr  class="@(curUserId == Model.Top100[2] ? "active" : string.Empty)">
                    <td class="uicons center nowrap">⭐</td>
                    <td class="center"><img src="@Model.UsersInfo[Model.Top100[2]].imgUrl" class="uicon" /></td>
                    <td>@Model.UsersInfo[Model.Top100[2]].uName</td>
                    <td class="center nowrap">@Model.Likes[Model.Top100[2]]</td>
                </tr>
            }
            @if (Model.Top100.Length > 3)
            {
                for (var i = 3; i < Model.Top100.Length; i++)
                {
                    <tr  class="@(curUserId == Model.Top100[i] ? "active" : string.Empty)">
                        <td class="uicons center nowrap">@(i + 1)</td>
                        <td class="center"><img src="@Model.UsersInfo[Model.Top100[i]].imgUrl" class="uicon" /></td>
                        <td>@Model.UsersInfo[Model.Top100[i]].uName</td>
                        <td class="center nowrap">@Model.Likes[Model.Top100[i]]</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<style>
    .likers-table {
        border-collapse: collapse;
    }

    .likers-table th {
            border-bottom: 1px solid #d3d9de;
            padding-bottom: 20px;
        }

    .small-header {
        width: 50px;
        white-space: nowrap;
    }

    .user-header {
        height: 90%;
        text-align: left;
    }

    .center {
        text-align: center;
    }

    .nowrap {
        white-space: nowrap;
    }

    .uicons {
        height: 60px;
    }

    .uicon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
</style>
